@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> TrackDiscovery is a web application designed to showcase artists and their albums, allowing users to explore music collections seamlessly. </p>
</div>
